{% extends "root.html" %}
{% block content %}
<div class="mt-5 d-flex flex-column justyfi-content-center align-items-center">
    <h4 class="text-center mt-5" style="color: #1A5686; font-weight: 700;">О НАШЕЙ КОМПАНИИ</h4>
    {% autoescape off %}
    <h1 class="text-center">{{ years_working }} лет на рынке недвижимости</h1>
    {% endautoescape %}
    <p class="text-center w-50 mt-2 fs-5">Работаем на рынке недвижимости с 2048 года<br> Уже {{ years_working }} лет наша компания является лидером в области продажи и аренды недвижимости в Санкт-Петербурге</p>
</div>
<div class="mt-4" style="background-color: #F0F9F6;">
    <div class="w3l-content-6 py-5">
    <div class="container py-lg-5">
      <div class="row">
        <div class="col-lg-6 content-6-left pr-lg-5">
          <h6 class="sub-title" style="color: #1A5686; font-size: 16px; font-weight: 700;">Почему выбирают нас</h6>
          <h3 class="hny-title" style="font-size: 2.5rem;">Большой опыт работы</h3>
        </div>
        <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
          <p class="mb-3" style="font-size: 1rem;">"Новые Горизонты" - это риэлторское агентство, которое специализируется на продаже и аренде недвижимости. Компания обладает большим опытом работы на рынке недвижимости и предоставляет профессиональные услуги своим клиентам</p>
        </div>
      </div>
    </div>
</div>
</div>
<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
          <p class="mb-3" style="font-size: 1rem;">Основными принципами работы агентства являются честность, открытость и профессионализм. Риэлторы "Новые Горизонты" всегда готовы проконсультировать своих клиентов по всем вопросам, связанным с недвижимостью, и помочь им принять правильное решение при выборе жилья</p>
        </div>
        <div class="col-lg-6 content-6-left pr-lg-5">
          <h6 class="sub-title" style="color: #1A5686; font-size: 16px; font-weight: 700;">Почему выбирают нас</h6>
          <h3 class="hny-title" style="font-size: 2.5rem;">Честность, открытость и профессионализм</h3>
        </div>
      </div>
    </div>
</div>
<div style="background-color: #F0F9F6;">
    <div class="w3l-content-6 py-5">
    <div class="container py-lg-5">
      <div class="row">
        <div class="col-lg-6 content-6-left pr-lg-5">
          <h6 class="sub-title" style="color: #1A5686; font-size: 16px; font-weight: 700;">Почему выбтрают нас</h6>
          <h3 class="hny-title" style="font-size: 2.5rem;">Риэлторы всегда ориентированы на интересы своих клиентов</h3>
        </div>
        <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
          <p class="mb-3" style="font-size: 1rem;">Риэлторы "Новые Горизонты" всегда готовы помочь своим клиентам найти идеальное жилье в соответствии с их требованиями и желаниями. Компания предлагает широкий выбор недвижимости в различных районах города, включая новостройки и вторичное жилье</p>
          <p class="mb-3" style="font-size: 1rem;">Компания также предоставляет услуги по сопровождению сделок купли-продажи недвижимости и аренды, а также помощь в получении ипотечного кредита. Риэлторы "Новые Горизонты" всегда ориентированы на интересы своих клиентов и работают в их пользу</p>
        </div>
      </div>
    </div>
</div>
</div>
<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
          <p class="mb-3" style="font-size: 1rem;">У наших риэлторов есть большой опыт в проведении сделок недвижимости и у них есть знания и навыки, необходимые для выполнения процесса соответствующим образом</p>
        </div>
        <div class="col-lg-6 content-6-left pr-lg-5">
          <h6 class="sub-title" style="color: #1A5686; font-size: 16px; font-weight: 700;">Почему выбирают нас</h6>
          <h3 class="hny-title" style="font-size: 2.5rem;">Экспертиза</h3>
        </div>
      </div>
    </div>
</div>
<div style="background-color: #F0F9F6;">
    <div class="w3l-content-6 py-5">
    <div class="container py-lg-5">
      <div class="row">
        <div class="col-lg-6 content-6-left pr-lg-5">
          <h6 class="sub-title" style="color: #1A5686; font-size: 16px; font-weight: 700;">Почему выбирают нас</h6>
          <h3 class="hny-title" style="font-size: 2.5rem;">Конфиденциальность</h3>
        </div>
        <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
          <p class="mb-3" style="font-size: 1rem;">"Новые горизонты" обеспечивает конфиденциальность персональных данных своих клиентов и помогают им избежать проблем, связанных с нерадивыми продавцами недвижимости или злоумышленниками.</p>
        </div>
      </div>
    </div>
</div>
</div>
<div class=" py-5 d-flex flex-column justyfi-content-center align-items-center">
    <h3 class="text-center">Мы гордимся нашими достижениями и постоянно совершенствуемся, чтобы оставаться лидерами на рынке. <br>Спасибо, что выбираете нашу компанию!</br></h2>
</div>
{% endblock %}