{% extends "root.html" %}
{% block content %}

<style>

.carousel-inner{
  height: 600px !important;
  margin: 0 auto;
}
.carousel-inner img {
  height: 700px !important;
}
h5{
    font-size: 58px;
}

.card-img-overlay{
 height: 600px !important;
 margin: 0 auto;
}
.card {
    transition: 1s; /* Время эффекта */
    width: 100%;
    height: 27vw;
    object-fit: cover;
   }
.card:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
   }
.center {
  display: flex;
  /*height: 100vh;*/
  align-items: center;
  justify-content: center;
}

.article-card {
  width: 350px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .date,
.article-card .title {
  margin: 0;
}

.article-card .date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 4px;
}

.article-card .title {
  font-size: 17px;
  color: #fff;
}

</style>
<div class="w-auto d-flex flex-column justify-content-center">
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/media/6.jpg" class="d-block w-100" alt="..." style="filter: brightness(40%)">
      <div class="carousel-caption position-absolute bottom-50">
        <h5>РА "Новые горизонты"</h5>
        <p class="fs-3">Осуществляет все операции с недвижимостью более {{ years_working }} лет</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/media/7.jpg" class="d-block w-100" alt="..." style="filter: brightness(40%)">
      <div class="carousel-caption position-absolute bottom-50">
        <h5>РА "Новые горизонты"</h5>
        <p class="fs-3">Осуществляет все операции с недвижимостью более {{ years_working }} лет</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/media/8.jpg" class="d-block w-100" alt="..." style="filter: brightness(40%)">
      <div class="carousel-caption position-absolute bottom-50">
        <h5>РА "Новые горизонты"</h5>
        <p class="fs-3">Осуществляет все операции с недвижимостью более {{ years_working }} лет</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="gallery-inner container py-lg-0 py-3 mt-5 d-flex justify-content-center">
      <div class="row stats-con pb-lg-3 d-flex justify-content-beetwen">
        <div class="col-lg-4 col-6">
            {% autoescape off %}
          <p class="counter" style="color: #1A5686; font-size: 60px;">{{ years_working }}</p>
            {% endautoescape %}
          <h4>Лет на рынке</h4>
        </div>
        <div class="col-lg-4 col-6">
          <p class="counter" style="color: #1A5686; font-size: 60px;">{{ total_applications_contract }}</p>
          <h4>Сделок с недвижимостью</h4>
        </div>
        <div class="col-lg-4 col-6">
          <p class="counter" style="color: #1A5686; font-size: 60px;">{{ total_applications }}</p>
          <h4>Обращений из разных городов</h4>
        </div>
    </div>
</div>

<div class="w-100 mt-5 d-flex justify-content-around" style="background-color: #F0F9F6; height: 30vw;">
<div class="d-flex flex-column align-items-center justify-content-center w-100">
    <h3 class="text-center fw-bold">Услуги</h3>
<div class="mt-5 d-flex justify-content-evenly w-100">
<a class="nav-link text-dark" href="{% url 'flats:list' %}">
<div class="center">
  <div class="article-card">
    <div class="content">
      <p class="date">Быстро, понятно, без "подводных камней"</p>
      <p class="title">Покупка недвижимости</p>
    </div>
    <img src="/media/10.jpg" alt="article-cover" />
  </div>
</div>
</a>
<a class="nav-link text-dark text-decoration-none" href="{% url 'flats:sell' %}">
    <div class="center">
  <div class="article-card">
    <div class="content">
      <p class="date">Поможем быстро и выгодно</p>
      <p class="title">Продать недвижимость</p>
    </div>
    <img src="/media/1901.png" alt="article-cover" />
  </div>
</div>
</a>
</div>
</div>
</div>
<div class="mt-5 d-flex flex-column justyfi-content-center align-items-center" style="height: 27vw;">
    <h4 class="text-center mt-5" style="color: #1A5686; font-weight: 700;">О НАШЕЙ КОМПАНИИ</h4>
    <h1 class="text-center">{{ years_working }} лет на рынке недвижимости</h1>
    <p class="text-center w-50 mt-2 fs-5">Работаем на рынке недвижимости с 2004 года<br> Уже {{ years_working }} лет наша компания является лидером в области продажи и аренды недвижимости в Санкт-Петербурге</p>
    <a href="{% url 'info:about'%}" class="btn mt-1 w-25" style="background-color: #1A5686; color: #ffffff;">Подробнее</a>
</div>
<script src="//code.jivo.ru/widget/b0DsvZEPVu" async></script>

{% endblock %}